.title {
    text-align: center;
    font-family: 'Abril Fatface';
    font-size: 2rem;
    border-bottom: 3px solid cadetblue;
    text-transform: capitalize;
    width: 30%;
    margin: auto;
    color: cadetblue;
    
}


.title span {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;
}

.title .toppest {
    font-size: 30px;
    font-weight: bolder;
}

.border-line hr{
    border-top: 5px solid cadetblue;
    width: 50%;
    text-align: center;
}

.photo-gallery {
    /*width: 1vw;
    height:1vh;*/
    display: grid;
    grid-template-rows: repeat(1, auto);
    grid-template-columns: repeat(8, auto);
    grid-gap: 20px;
    align-content: center;
    justify-content: center;
    margin: 50px;
    padding: 15px;
    border: 10px groove cadetblue;
}

.pic {
    width: 100%;
    height: 550px;
    background-color: black; 
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    opacity: 0.3;
}

img:hover{
    transform: scale(1.2); 
    opacity: 1;
    border: 2px solid cadetblue;
}

/*img:active{
    z-index: 1;
    opacity: 1;
    object-fit: cover;
    width: 500px;
    height: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/

/* Photo layout */
.pic-1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

.pic-2 {
    grid-row: 1/2;
    grid-column: 2/3;
}

.pic-3 {
    grid-row: 1/2;
    grid-column: 3/4;
}

.pic-4 {
    grid-row: 1/2;
    grid-column: 4/5;
}

.pic-5 {
    grid-row: 1/2;
    grid-column: 5/6;
}

.pic-6 {
    grid-row: 1/2;
    grid-column: 6/7;
}

.pic-7 {
    grid-row: 1/2;
    grid-column: 7/8;
}

.pic-8 {
    grid-row: 1/2;
    grid-column: 8/9;
}

@media only screen and (max-width:900px){
    .photo-gallery {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(4, auto);
    }
    .pic {
        width: calc(50%-50px);
        background-color: green; 
    }   
    
    .pic-1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    
    .pic-2 {
        grid-row: 1/2;
        grid-column: 2/3;
    }
    
    .pic-3 {
        grid-row: 1/2;
        grid-column: 3/4;
    }
    
    .pic-4 {
        grid-row: 1/2;
        grid-column: 4/5;
    }
    
    .pic-5 {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    
    .pic-6 {
        grid-row: 2/3;
        grid-column: 2/3;
    }
    
    .pic-7 {
        grid-row: 2/3;
        grid-column: 3/4;
    }
    
    .pic-8 {
        grid-row: 2/3;
        grid-column: 4/5;
    }
}

@media only screen and (max-width:600px){
    .photo-gallery {
        display: grid;
        grid-template-rows: repeat(4, auto);
        grid-template-columns: repeat(2, auto);
    }
    .pic {
        width: calc(25%-40px);
        background-color: red; 
    }   
    
    .pic-1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    
    .pic-2 {
        grid-row: 1/2;
        grid-column: 2/3;
    }
    
    .pic-3 {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    
    .pic-4 {
        grid-row: 2/3;
        grid-column: 2/3;
    }
    
    .pic-5 {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    
    .pic-6 {
        grid-row: 3/4;
        grid-column: 2/3;
    }
    
    .pic-7 {
        grid-row: 4/5;
        grid-column: 1/2;
    }
    
    .pic-8 {
        grid-row: 4/5;
        grid-column: 2/3;
    }
}
